NEXT_PUBLIC_API_URL=http://localhost:5000/api


# Google OAuth (Optional)
# GOOGLE_CLIENT_ID=your_google_client_id_here
# GOOGLE_CLIENT_SECRET=your_google_client_secret_hereNEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=28985235567-969dv0id2j4rd8i7vcjv312seu3a85fi.apps.googleusercontent.com